@model Modele.Klient

@{
    ViewData["Title"] = "Szczegóły";
}

<h1>Szczegóły</h1>

<div>
    <h4>Klient</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Imię)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Imię)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumerTelefonu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumerTelefonu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edycja</a> |
    <a asp-action="Index">Powrót do listy</a>
</div>
